/* 使用全局样式 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-primary-color: #292929;
  --bg-secondary-color: #3a3d42;
  --text-primary: #ffffff; /* 主文字颜色 */
  --text-secondary: #9ea3a2; /* 辅助文字颜色 */
  --color-accent: #6dfdae; /* 强调色 */
}

html,
body {
  background-color: var(--bg-primary-color);
  color: var(--text-color);
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

#app {
  padding: 0 16px;
  background: transparent;
  color: var(--text-primary);
}

button {
  /* 移除默认外观 */
  -webkit-appearance: none; /* Chrome/Safari */
  -moz-appearance: none; /* Firefox */
  appearance: none;

  /* 去掉边框和背景 */
  border: none;
  outline: none;
  background: none;

  /* 去掉内外边距并继承字体 */
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;

  background: transparent;
  color: var(--text-primary);
}

input {
  border: none;
  outline: none;
  box-shadow: none;
  background: transparent;
}
input:focus {
  outline: none;
}
